/*the gap between the elements shall be 40px*/

.main-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #2d2b7e;
    height: auto;
    align-items: center;
    height: 60vh;
}

.logo-wrapper {
    display: grid;
    grid-template-rows: [first] 1fr [second] 2.2vw [third] 2.2vw [fourth] 2.2vw [fifth] 2.2vw [sixth] 2.2vw [seventh] 2.2vw [eigth];
    grid-template-columns: [firts] 13fr [second] 4.4vw [third] 2.2vw [fourth] 2.2vw [fifth] 4.4vw [sixth];
   
}

.text {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
    font-family: PoiretOne;
    font-size: 11vw;
    color: white;
    z-index: 5;
    padding: 0;
    margin: 0;
    align-self: start;
}

.rectangle-red {
    background-color: #e5324f;
    object-fit: fill;
    width: 100%;
    height: 100%;
    grid-area: 2 / 4 / 5 / 6; 
}

.rectangle-orange {
    background-color: #f9a257;
    object-fit: fill;
    width: 100%;
    height: 100%;
    grid-area: 4 / 2 / 6 / 3; 
}

.rectangle-green {
    background-color: #cfe293;
    object-fit: fill;
    width: 100%;
    height: 100%;
    grid-area: 6 / 4 / 7 / 5;
}

.details-wrapper {
    margin-left: 10%;
    width: 80%;
    display: grid;
    grid-template-rows: [first] 20px [second] auto [third] 20px [fourth];
    grid-template-columns: [first] 20px [second] auto [thrid] 20px [fourth];
}

.top-details {
    grid-area: 1 / 2 / 3 / 4;
    background-color: #bfc4e4;
    object-fit: fill;
    z-index: 4;
}
.details {
    grid-area: 2 / 1 / 4 / 3;
    background-color: #b2e2f9;
    object-fit: fill;
    z-index: 5;
    box-shadow: grey;
    box-shadow: 9px
}

.second-wrapper {
    background: linear-gradient(to bottom, rgba(45,43,126,1) 0%, rgba(83,81,149,1) 25%, rgba(107,105,164,1) 40%, rgba(141,140,185,1) 57%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Wobble Vertical */
  .hvr-wobble-vertical {
    font-size: 50px;
    align-self: center;
    color: #bfc4e4;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }