<div class="main-wrapper">
    <div class="detail-element-right">
        <div class="details-wrapper">
            <div class="top-details"></div>
            <div class="details">
                <h3>Kim jesteśmy?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore assumenda, delectus cumque praesentium velit saepe facilis voluptatum, quibusdam deleniti ratione eius, reprehenderit voluptatibus. Provident molestiae cumque quod placeat corrupti. Laborum. Nasz projekt powstał z pomysłu szefa naszego zespołu na letnią sesję Zwolnionych z Teorii 2019. Wtedy uczylismy się wszyscy robić minety</p>
            </div>
        </div>
        <img class="photo" src="../../assets/rainbow-bubble.png"/>
    </div>
</div>
